.IconToggle{
  
    cursor: pointer;
    background: transparent;
    border: 0;
    
    svg{
        width: 1.2rem;
        fill: #5290f9;
        &:hover{
            color: rgb(139, 13, 13);
        }
    }
}